.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

.title {
  font-family: 'Hurricane', cursive;
  font-weight: 100;
  font-size: 20vh;
}

.header {
  padding-left: 2vw;
  font-size: 7vh;
}

.paragraph {
  line-height: 150%;
  font-size: 3vh;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.aboutdescription {
  margin-right: 4vw;
  margin-left: 4vw;
}

